<h4 class="card-title">
  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-bookmark-plus" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z"/>
    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
  </svg>&nbsp;
  Add Room
</h4>
<hr>
<div class="row">
  <div class="col-lg-6">
    <div [hidden]="submitted">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" required [(ngModel)]="room.name" name="name">
        </div>

        <div class="form-group">
          <label for="name">Date:</label>
          <input type="text" class="form-control" id="date" required [(ngModel)]="room.date" name="date">
        </div>

        <div class="form-group">
          <label for="name">Start hour:</label>
          <input type="text" class="form-control" id="startHour" required [(ngModel)]="room.startHour" name="startHour">
        </div>

        <div class="form-group">
          <label for="name">End hour:</label>
          <input type="text" class="form-control" id="endHour" required [(ngModel)]="room.endHour" name="endHour">
        </div>

        <button type="submit" class="btn btn-success">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
            <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
          </svg>&nbsp;
          Save new
        </button>
      </form>
    </div>
  </div>
</div>

<div [hidden]="!submitted">
  <button class="btn btn-success" (click)="newRoom()">Add</button>
</div>
